*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}
body{
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
    margin: 50px;
}
h5{
    color: #fbff00;
    font-size: 35px;
    text-decoration:  none;
    
    
}   
.calculator{
    padding: 15px;
    box-shadow: 0 0 15px red;
    border: 2px solid rgb(166, 114, 114);
    border-radius: 15px;
}
.display input{
    width: 360px;
    outline: none;
    border-color: 5px #fbff00 solid;
    padding: 20px;
    margin: 10px;
    background: transparent;
    height: 40px;
    color: #fff;
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    margin-bottom: 10px;
}
input::placeholder{
    color: #fff;
}
button{
    width: 70px;
    height: 70px;
    background: transparent;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    border: 0;
    border-radius: 17px;
    box-shadow: -10px -10px 15px #000;
    outline: 1px solid #313131;
    outline-offset: 3px;
    cursor: pointer;
}

button:active{
    background: #000;
    transform: translate(2px,2px);
}
.opr{
    color: #fbff00;
    background: translate(2px,2px);
    font-size: 700;
}
#eqBtn{
    background:red;
    font-weight: 900;
}